[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stencilaschema"]
	path = stencilaschema
	url = https://github.com/stencila/schema
	subdir = r
